apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spokelse
  namespace: default
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  webproxy: true
  secureLogs:
    enabled: true
  vault:
    enabled: true
    paths:
      - mountPath: /var/run/secrets/nais.io/vault
        kvPath: /kv/preprod/fss/spokelse/default
      - mountPath: /var/run/secrets/nais.io/service_user
        kvPath: /serviceuser/data/dev/srvspokelse
      - mountPath: /var/run/secrets/nais.io/azure
        kvPath: /azuread/data/dev/creds/spokelse
  env:
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00047.preprod.local:8443
  - name: KAFKA_RAPID_TOPIC
    value: helse-rapid-v1
  - name: KAFKA_CONSUMER_GROUP_ID
    value: spokelse-v1
  - name: MQ_HOSTNAME
    value: b27apvl176.preprod.local
  - name: MQ_PORT
    value: "1413"
  - name: MQ_CHANNEL
    value: Q1_SPOKELSE
  - name: MQ_QUEUE_MANAGER
    value: MQ1LSC02
  - name: MQ_ARENA_OUTPUT
    value: QA.Q1_SPOKELSE.ARENA_TIL_INFOTRYGD
  - name: MQ_ARENA_INPUT_KVITTERING
    value: QA.Q1_SPOKELSE.ARENA_TIL_INFOTRYGD_KVITTERING
  - name: DATABASE_HOST
    value: b27dbvl013.preprod.local
  - name: DATABASE_PORT
    value: "5432"
  - name: DATABASE_NAME
    value: spokelse
  - name: DATABASE_VAULT_MOUNT_PATH
    value: postgresql/preprod-fss/
  - name: ACCEPTED_AUDIENCE
    value: d8f61c0a-ac96-4c5c-9e70-2c630852851a
  - name: DISCOVERY_URL
    value: https://login.microsoftonline.com/966ac572-f5b7-4bbe-aa88-c76419c0f851/v2.0/.well-known/openid-configuration
  - name: REQUIRED_GROUP
    value: f844f535-2174-445c-a0db-b6c55f2e4780
